<div class="title-cards">
    <h2>Eventos</h2>
</div>
<div class="container-card">

    <div class="card">
        <figure>
            <img src="/img/t1.jpg">
        </figure>
        <div class="contenido-card">
            <h3>Sala Networking</h3>
            <p>En este evento compartiras con personas con tus mismos fines profesionales.</p>
            <a href="/principal">Reservar</a>
        </div>
    </div>
    <div class="card">
        <figure>
            <img src="/img/t2.jpg">
        </figure>
        <div class="contenido-card">
            <h3>Mi Exhibicion</h3>
            <p>En este evento podras conocer diferentes platos gastronomicos eleaborados por un chef.</p>
            <a href="/principal">Reservar</a>
        </div>
    </div>
    <div class="card">
        <figure>
            <img src="/img/t3.jpg">
        </figure>
        <div class="contenido-card">
            <h3>Fecha Especial</h3>
            <p>En este evento disfrutaras de una variedad de vinos, donde podras dar tu opnion y recomendacion.</p>
            <a href="/principal">Reservar</a>
        </div>
    </div>
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link">Anterior</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Siguiente</a>
        </li>
    </ul>
</nav>